@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000;
}

progress::-moz-progress-bar {
    background: green;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: green;
}

/* For IE10 */
progress {
    background: green;
}